
<h1>Welcome <%= @caregiver.name %><br></h1>

<%= render partial: "caregiver", locals: { caregiver: @caregiver } %>

<h2>All Babies in your Care</h2>
<% @caregiver.babies.each do |baby| %>
  <%= link_to baby.name, baby_path(baby) %> - <%= link_to 'Add a log for this baby', new_dailylog_path %><br>
<% end %>
