// Place all the styles related to the care_givers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  width: 350px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 10px;
  margin: 5px;
  text-align: left;
  background-color: #f7f1e3;

}

.page-header {
  width: 350px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 10px;
  margin: 5px;
  text-align: left;
}

img {
  width: 50%;
  height: 1000px
}

body {
  padding: 550px;
  background-color: #ffcccc;
}
