<h1>All Logs</h1>
  <% @dailylogs.each do |dailylog| %>
    <% if dailylog.baby %>
      <%= link_to dailylog.baby.name, baby_path(dailylog.baby) %><br>
      <%= render partial: "dailylog", locals: { dailylog: dailylog } %>
    <% end %>
  <% end %><br>
