<h1>All Logs</h1>

<% if @baby %>
  <%= link_to @baby.name, baby_path(@baby) %><br>
<% end %>

<div>
  <% if @dailylogs.count > 0 %>
    <% @dailylogs.each do |dailylog| %>
        <p id="log_id" data-id="<%=dailylog.id %>"><%= link_to dailylog.date_format_for_time_in, dailylog_path(dailylog) %></p><br>
    <% end %><br>
  <% else%>
    <p>There are no logs for this baby!</p>
  <% end %>


</div>
