<h1>Log Details</h1>
Baby: <strong><%= @dailylog.baby.name %></strong><br>
<%= render partial: "dailylog", locals: { dailylog: @dailylog } %>

<a href="#" class="js-next" data-id="<%=@dailylog.id%>">Next...</a>
