<h1>Log Details</h1>
<h1 class="logBaby">Baby: <strong><%= @dailylog.baby.name %></strong><br>
<%= render partial: "dailylog", locals: { dailylog: @dailylog } %>
<%= link_to "See all Logs for #{@dailylog.baby.name} ", baby_dailylogs_path(@dailylog.baby) %><br></p>
